﻿@*@model Gapura.BLL.Models.MasterPeriod*@

@{
    ViewBag.Title = "Create Period";
}

<div class="row-fluid sortable">
    <div class="box span12" style="margin-left: 0px">
        <div class="box-header" data-original-title="">
            <h2><i class="icon-pencil"></i><span class="break"></span>Create Period</h2>
            <div class="box-icon">
                <a href="@Url.Action("Index")"
                    title="Return to Index List" >
                    <i class="halflings-icon chevron-up"></i><span class="hidden-tablet"></span>
                </a>
                <a href="~/Home/Index" class="btn-close"
                    title="Return to Homepage">
                    <i class="halflings-icon remove"></i>
                </a>
            </div>
        </div>
        <div class="box-content">

            @using (Html.BeginForm("Create", "Periods", FormMethod.Post, new
        {
            @class = "form-horizontal"
        }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend></legend>

                    <div class="control-group">
                        @Html.Label("StartPeriod", "Start Period", new { @class = "control-label" })

                        @*@Html.EditorFor(model => model.StartPeriod)*@
                        @*@Html.ValidationMessageFor(model => model.StartPeriod)*@
                        @Html.TextBox("StartPeriod", "", new { @id="StartPeriod" ,@class = "span2 typeahead" })
                        @Html.ValidationMessage("StartPeriod", "", new {style="color:red;" })
                    </div>

                    <div class="control-group">
                        @Html.Label("EndPeriod", "End Period", new { @class = "control-label" })

                        @*@Html.EditorFor(model => model.EndPeriod)*@
                        @*@Html.ValidationMessageFor(model => model.EndPeriod)*@
                        @Html.TextBox("EndPeriod", "", new { @id="EndPeriod" ,@class = "span2 typeahead" })
                        @Html.ValidationMessage("EndPeriod", "", new {style="color:red;" })
                    </div>

                    <div class="control-group">
                        @Html.Label("PeriodName", "Period Name", new { @class = "control-label" })

                        @*@Html.EditorFor(model => model.PeriodName)*@
                        @*@Html.ValidationMessageFor(model => model.PeriodName)*@
                        @Html.TextBox("PeriodName", "", new { @id="PeriodName" ,@class = "span2 typeahead" })
                        @Html.ValidationMessage("PeriodName", "", new {style="color:red;" })
                    </div>

                    <div class="control-group">
                        @Html.Label("ClosePeriod", "Close Period", new { @class = "control-label" })

                        @*@Html.EditorFor(model => model.ClosePeriod)*@
                        @*@Html.ValidationMessageFor(model => model.ClosePeriod)*@
                        @Html.TextBox("ClosePeriod", "", new { @id="ClosePeriod" ,@class = "span2 typeahead" })
                        @Html.ValidationMessage("ClosePeriod", "", new {style="color:red;" })
                    </div>

                    <div class="form-actions">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <input type="reset" value="Reset" class="btn" />
                        <a href="@Url.Action("Index")" class="btn btn-info">Cancel</a>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#StartPeriod').datepicker({
            appendText: ' YYYY-MM-DD',
            dateFormat: 'yy/mm/dd',
            minDate: 0,
            changeMonth: true,
            changeYear: true,
            showOn: 'both'        //for button
        });
        $('#EndPeriod').datepicker({
            appendText: ' YYYY-MM-DD',
            dateFormat: 'yy/mm/dd',
            minDate: 0,
            changeMonth: true,
            changeYear: true,
            showOn: 'both'        //for button
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}