﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.Nodes.Count != 1)
{
    @:<ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "home")">Home</a>
            @*<i class="icon-chevron-right"></i>*@
            <span class="divider"><b>></b></span>
        </li>
    
    foreach (var node in Model.Nodes)
    {
        if (node == Model.Nodes.First())
        {
            continue;
        }

        if (node != Model.Nodes.Last())
        {
            string url = node.IsClickable ? node.Url : "#";

            @:<li><a href="@url">@node.Title</a><span class="divider"><b>></b></span></li>
        }
        else
        {
            @:<li class="active">@node.Title</li>
        }
    }

    @:</ul>
}