<p>
    <span style="text-align: left; /*float: right*/">Copyright &copy; 2016 &nbsp
                <a href="http://www.id.yusen-logistics.com" alt="PT Yusen Logistics Solutions Indonesia" style="color: #fff">PT. Yusen Logistics Solutions Indonesia
                </a>
    </span>
</p>