﻿<div class="nav-no-collapse header-nav">
    <ul class="nav pull-right">
        <li class="dropdown hidden-phone">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white warning-sign"></i>
            </a>
            <ul class="dropdown-menu notifications">
                <li class="dropdown-menu-title">
                    <span>You have 11 notifications</span>
                    <a href="~/#refresh"><i class="icon-repeat"></i></a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon blue"><i
                            class="icon-user"></i></span>
                        <span class="message">New user registration</span>
                        <span class="time">1 min</span>
                    </a>
                </li>
                <li class="dropdown-menu-sub-footer">
                    <a>View all notifications</a>
                </li>
            </ul>
        </li>
        <!-- start: Notifications Dropdown -->
        <li class="dropdown hidden-phone">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white tasks"></i>
            </a>
            <ul class="dropdown-menu tasks">
                <li class="dropdown-menu-title">
                    <span>You have 17 tasks inprogress</span>
                    <a href="~/#refresh"><i class="icon-repeat"></i></a>
                </li>
                <li>
                    <a href="#">
                        <span class="header">
                            <span class="title">iOS Development</span>
                            <span class="percent"></span>
                        </span>
                        <div class="taskProgress progressSlim red">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-menu-sub-footer">View all tasks</a>
                </li>
            </ul>
        </li>
        <!-- end: Notifications Dropdown -->
        <!-- start: Message Dropdown -->
        <li class="dropdown hidden-phone">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white envelope"></i>
            </a>
            <ul class="dropdown-menu messages">
                <li class="dropdown-menu-title">
                    <span>You have 9 messages</span>
                    <a href="~/#refresh"><i class="icon-repeat"></i></a>
                </li>
                <li>
                    <a href="#">
                        <span class="avatar">
                            <img
                                src="/Content/img/avatar.jpg" alt="Avatar"></span>
                        <span class="header">
                            <span class="from">Firman
                            </span>
                            <span class="time">6 min
                            </span>
                        </span>
                        <span class="message">Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                        </span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-menu-sub-footer">View all messages</a>
                </li>
            </ul>
        </li>
        <!-- end: Message Dropdown -->
        <li>
            <a class="btn" href="#">
                <i class="halflings-icon white wrench"></i>
            </a>
        </li>
        <!-- start: User Dropdown -->
        <li class="dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white user"></i>@User.Identity.Name
                    <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-title">
                    <span>Account Settings</span>
                </li>
                @{ Html.RenderPartial("_LoginPartial"); }
            </ul>
        </li>
        <!-- end: User Dropdown -->
    </ul>
</div>