﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>@ViewBag.Title - GAPURA</title>
    <meta name="description" content="Gapura">
    <meta name="author" content="Firmansyah Adi Putra">
    <meta name="keyword" content="GAPURA">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    @Styles.Render("~/Content/main")
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="~/http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<link id="ie-style" href="~/css/ie.css" rel="stylesheet">
<![endif]-->
    <!--[if IE 9]>
<link id="ie9style" href="~/css/ie9.css" rel="stylesheet">
<![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <!-- end: Favicon -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <style>
        a.submenu span {
            margin-left: 10px !important;
        }
        span.icon-sort {
            margin-left: 3.5em !important;
            float: right;
        }
    </style>
</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <img class="logo" width="117" height="40" style="float:right" src="@Url.Content("~/Content/img/logo.png")" />
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <img class="logo" width="87" height="40" style="float:left" src="@Url.Content("~/Content/img/Gapura.png")" />
                <a class="brand" href="@Url.Action("Index", "Home")"><span>GA Purchasing Administration</span></a>
                <!-- start: Header Menu -->
                @{ Html.RenderPartial("_HeadNavigation"); }
                <!-- end: Header Menu -->
            </div>
        </div>
    </div>
    <!-- start: Header -->
    <div class="container-fluid-full">
        <div class="row-fluid">
            <!-- start: Main Menu -->
            @{ Html.RenderPartial("_LeftNavigation"); }
            <!-- end: Main Menu -->
            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>
                        You need to have <a href="~/http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.
                    </p>
                </div>
            </noscript>
            <!-- start: Content Container -->
            <div id="content" class="span10">
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                @*@Html.MvcSiteMap().SiteMapPath("SiteMapHelperModel")*@
                <!-- start: Page Content -->
                @RenderBody()
                <!-- end: Page Content -->
            </div>
            <!--/.fluid-container-->
            <!-- end: Content Container -->
        </div>
        <!--/#content.span10-->
    </div>
    <!--/fluid-row-->
    <div class="clearfix"></div>
    <footer>
        @{ Html.RenderPartial("_Footer"); }
    </footer>

    <!-- start: JavaScript-->
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dataTablesLayout")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/min")
    @Scripts.Render("~/bundles/js")
    @*@Scripts.Render("~/bundles/layout")*@
    @RenderSection("Scripts", false)
    <!-- end: JavaScript-->
</body>
</html>