@model Gapura.BLL.Models.LoginModel

@{
    ViewBag.Title = "GAPURA Login System";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<style type="text/css">
    body {
        background: url(/Content/img/bg-login.jpg) !important;
    }
</style>

@if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
{ 
    <div class="alert alert-info">
        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.ValidationSummary(false, "ERRORS : ")
    </div>
}

<div class="container-fluid-full">
    <div class="row-fluid">

        <div class="row-fluid">
            <div class="login-box">
                <div class="icons">
                    <h2 style="float: left"><i class="icon-lock"></i><span class="break"></span>GAPURA LOGIN SYSTEM</h2>
                    @*<a href="#"><i class="halflings-icon cog"></i></a>*@
                </div>

                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    
                    
                    <div class="input-prepend" title="Username">
                        <span class="add-on"><i class="halflings-icon user"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = Html.DisplayNameFor(n => n.UserName) })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>

                    <div class="input-prepend" title="Password">
                        <span class="add-on"><i class="halflings-icon lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(n => n.Password) })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <label class="remember" for="remember">
                        <input type="checkbox" id="RememberMe" />Remember me</label>

                    <div class="button-login">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="clearfix"></div>
                }
                <hr>
                <h4>Forgot Password ??</h4>
                <p>
                    @*No problem, <a href="#">click here</a>*@ Please contact Administrator to reset the Password.
                </p>
                @*@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })*@
            </div>
            <!--/span-->
        </div>
        <!--/row-->
    </div>
    <!--/.fluid-container-->
</div>
<!--/fluid-row-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}