.add-on,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
.uneditable-input {
    border-color: #cdcdcd !important;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

input,
textarea,
.uneditable-input {
    width: 206px;
    margin-left: 1px; /*Fir 26112016*/
}

textarea {
    height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
        /* IE6-9 */
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);
    }

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    *margin-top: 0;
    line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

select,
input[type="file"] {
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */
    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */
    line-height: 30px;
    margin-left: 1px; /*Fir 26112016*/
}

select {
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

    select[multiple],
    select[size] {
        height: auto;
    }

    select:focus,
    input[type="file"]:focus,
    input[type="radio"]:focus,
    input[type="checkbox"]:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

.uneditable-input,
.uneditable-textarea {
    color: #999999;
    cursor: not-allowed;
    background-color: #fcfcfc;
    border-color: #cccccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.uneditable-input {
    overflow: hidden;
    white-space: nowrap;
}

.uneditable-textarea {
    width: auto;
    height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999999;
}

.radio,
.checkbox {
    min-height: 20px;
    padding-left: 20px;
}

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
        float: left;
        margin-left: -20px;
    }

.controls > .radio:first-child,
.controls > .checkbox:first-child {
    padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}

    .radio.inline + .radio.inline,
    .checkbox.inline + .checkbox.inline {
        margin-left: 10px;
    }

.input-mini {
    width: 60px;
}

.input-small {
    width: 90px;
}

.input-medium {
    width: 150px;
}

.input-large {
    width: 210px;
}

.input-xlarge {
    width: 270px;
}

.input-xxlarge {
    width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
    float: none;
    /*margin-left: 20px !important;*/ /*Fir 26112016*/
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
    display: inline-block;
}

/*input,
textarea,
.uneditable-input {
  margin-left: 20px;
}*/

.controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
}

input.span12,
textarea.span12,
.uneditable-input.span12 {
    width: 926px;
}

input.span11,
textarea.span11,
.uneditable-input.span11 {
    width: 846px;
}

input.span10,
textarea.span10,
.uneditable-input.span10 {
    width: 766px;
}

input.span9,
textarea.span9,
.uneditable-input.span9 {
    width: 686px;
}

input.span8,
textarea.span8,
.uneditable-input.span8 {
    width: 606px;
}

input.span7,
textarea.span7,
.uneditable-input.span7 {
    width: 526px;
}

input.span6,
textarea.span6,
.uneditable-input.span6 {
    width: 446px;
}

input.span5,
textarea.span5,
.uneditable-input.span5 {
    width: 366px;
}

input.span4,
textarea.span4,
.uneditable-input.span4 {
    width: 286px;
}

input.span3,
textarea.span3,
.uneditable-input.span3 {
    width: 206px;
}

input.span2,
textarea.span2,
.uneditable-input.span2 {
    width: 126px;
}

input.span1,
textarea.span1,
.uneditable-input.span1 {
    width: 46px;
}

.controls-row {
    *zoom: 1;
}

    .controls-row:before,
    .controls-row:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .controls-row:after {
        clear: both;
    }

    .controls-row [class*="span"],
    .row-fluid .controls-row [class*="span"] {
        float: left;
    }

    .controls-row .checkbox[class*="span"],
    .controls-row .radio[class*="span"] {
        padding-top: 5px;
    }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent;
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
    color: #c09853;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    color: #c09853;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    border-color: #c09853;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    .control-group.warning input:focus,
    .control-group.warning select:focus,
    .control-group.warning textarea:focus {
        border-color: #a47e3c;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #c09853;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #b94a48;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #b94a48;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    .control-group.error input:focus,
    .control-group.error select:focus,
    .control-group.error textarea:focus {
        border-color: #953b39;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
    color: #468847;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    color: #468847;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    border-color: #468847;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    .control-group.success input:focus,
    .control-group.success select:focus,
    .control-group.success textarea:focus {
        border-color: #356635;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    }

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
    color: #468847;
    background-color: #dff0d8;
    border-color: #468847;
}

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
    color: #3a87ad;
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    color: #3a87ad;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    border-color: #3a87ad;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    .control-group.info input:focus,
    .control-group.info select:focus,
    .control-group.info textarea:focus {
        border-color: #2d6987;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #3a87ad;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

    input:focus:invalid:focus,
    textarea:focus:invalid:focus,
    select:focus:invalid:focus {
        border-color: #e9322d;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    *zoom: 1;
}

    .form-actions:before,
    .form-actions:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .form-actions:after {
        clear: both;
    }

.help-block,
.help-inline {
    color: #595959;
}

.help-block {
    display: block;
    margin-bottom: 10px;
}

.help-inline {
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}

.input-append,
.input-prepend {
    display: inline-block;
    margin-top: 10px;
    padding-top: 20px 0px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

    .input-append input,
    .input-prepend input,
    .input-append select,
    .input-prepend select,
    .input-append .uneditable-input,
    .input-prepend .uneditable-input,
    .input-append .dropdown-menu,
    .input-prepend .dropdown-menu,
    .input-append .popover,
    .input-prepend .popover {
        font-size: 14px;
    }

    .input-append input,
    .input-prepend input,
    .input-append select,
    .input-prepend select,
    .input-append .uneditable-input,
    .input-prepend .uneditable-input {
        position: relative;
        margin-bottom: 0;
        *margin-left: 0;
        vertical-align: top;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

        .input-append input:focus,
        .input-prepend input:focus,
        .input-append select:focus,
        .input-prepend select:focus,
        .input-append .uneditable-input:focus,
        .input-prepend .uneditable-input:focus {
            z-index: 2;
        }

    .input-append .add-on,
    .input-prepend .add-on {
        display: inline-block;
        width: auto;
        height: 20px;
        min-width: 16px;
        padding: 4px 5px;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        text-align: center;
        text-shadow: 0 1px 0 #ffffff;
        background-color: #eeeeee;
        border: 1px solid #ccc;
    }

    .input-append .add-on,
    .input-prepend .add-on,
    .input-append .btn,
    .input-prepend .btn,
    .input-append .btn-group > .dropdown-toggle,
    .input-prepend .btn-group > .dropdown-toggle {
        vertical-align: top;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .input-append .active,
    .input-prepend .active {
        background-color: #a9dba9;
        border-color: #46a546;
    }

    .input-prepend .add-on,
    .input-prepend .btn {
        /*margin-right: -18px;*/ /* Fir 10042017 */
    }

        .input-prepend .add-on:first-child,
        .input-prepend .btn:first-child {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

    .input-append input,
    .input-append select,
    .input-append .uneditable-input {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

        .input-append input + .btn-group .btn:last-child,
        .input-append select + .btn-group .btn:last-child,
        .input-append .uneditable-input + .btn-group .btn:last-child {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

    .input-append .add-on,
    .input-append .btn,
    .input-append .btn-group {
        margin-left: -1px;
    }

        .input-append .add-on:last-child,
        .input-append .btn:last-child,
        .input-append .btn-group:last-child > .dropdown-toggle {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

    .input-prepend.input-append input,
    .input-prepend.input-append select,
    .input-prepend.input-append .uneditable-input {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

        .input-prepend.input-append input + .btn-group .btn,
        .input-prepend.input-append select + .btn-group .btn,
        .input-prepend.input-append .uneditable-input + .btn-group .btn {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

    .input-prepend.input-append .add-on:first-child,
    .input-prepend.input-append .btn:first-child {
        margin-right: -1px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .input-prepend.input-append .add-on:last-child,
    .input-prepend.input-append .btn:last-child {
        margin-left: -1px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .input-prepend.input-append .btn-group:first-child {
        margin-left: 0;
    }

input.search-query {
    padding-right: 14px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* Allow for input prepend/append in search forms */

.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-search .input-append .search-query {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.form-search .input-append .btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.form-search .input-prepend .search-query {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.form-search .input-prepend .btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    vertical-align: middle;
    *zoom: 1;
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
    display: none;
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
    display: inline-block;
}

.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
    margin-bottom: 0;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

    .form-search .radio input[type="radio"],
    .form-search .checkbox input[type="checkbox"],
    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        float: left;
        margin-right: 3px;
        margin-left: 0;
    }

.control-group {
    margin-bottom: 5px;
}

legend + .control-group {
    margin-top: 5px;
    -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
    margin-bottom: 7px;
    *zoom: 1;
}

    .form-horizontal .control-group:before,
    .form-horizontal .control-group:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .form-horizontal .control-group:after {
        clear: both;
    }

.form-horizontal .control-label {
    float: left;
    width: 120px;
    padding-top: 5px;
    text-align: right;
    margin-right: 6px; /*Fir 15022017*/
    /*margin-bottom: 6px;*/ /*Fir 15022017*/
}

.form-horizontal .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0;
}

    .form-horizontal .controls:first-child {
        *padding-left: 180px;
    }

.form-horizontal .help-block {
    margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
    margin-top: 10px;
    /*margin-left: 20px;*/ /*Fir 30112016*/
}

.form-horizontal .form-actions {
    padding-left: 180px;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal input[type="checkbox"] {
    /*margin-left: 20px;*/ /*Fir 30112016*/
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: #FEF1EC;
    /*border-color: #ff0000 !important;*/
    -webkit-box-shadow: inset 0 1px 1px #ff0000 !important;
    -moz-box-shadow: inset 0 1px 1px #ff0000 !important;
    box-shadow: inset 0 1px 1px #ff0000 !important;
}