﻿@model Gapura.BLL.Models.Division

@{
    ViewBag.Title = "Delete Division";
}

<h2>Delete Division</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Division</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DivisionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DivisionName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}