﻿@*@model Gapura.BLL.Models.Product*@
@model IEnumerable<Gapura.BLL.Models.Product>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@*    @using (Html.BeginForm("Edit", "Products", FormMethod.Get, new
        {
            @class = "form-horizontal"
        }))
            {

    <fieldset>
        <legend>Product</legend>

        <div class="control-group">
            @Html.Label("ProductCode", "Item Code", new { @class = "control-label" })

            @Html.EditorFor(model => model.ProductCode)
            @Html.ValidationMessageFor(model => model.ProductCode)
        </div>

        <div class="control-group">
            @Html.Label("ProductName", "Item Name", new { @class = "control-label" })

            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

    </fieldset>
}*@

<table class="table table-striped table-bordered bootstrap-datatable datatable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                    </tr>
                }
            </table>
