﻿@model IEnumerable<Gapura.BLL.Models.ReleaseHeader>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartemenID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartemenID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalRelease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
