﻿@model IEnumerable<Gapura.BLL.Models.MasterCurrency>

@{
    ViewBag.Title = "Index of Currency";
}

<div class="row-fluid sortable">
    <div class="box span12" style="margin-left: 0px">
        <div class="box-header" data-original-title="">
            <h2><i class="icon-table"></i><span class="break"></span>Set Up New Currency</h2>
            <div class="box-icon">
                <a href="@Url.Action("Create", "Currencies")">
                    <i class="halflings-icon plus"></i><span class="hidden-tablet"></span>
                    Add New Currency
                </a>
            </div>
        </div>
        <div class="box-content">

            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrencyCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrencyName)
                    </th>
                    <th>-</th>
                </tr>

                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Currencies", new { item.id }))
                    { @Html.AntiForgeryToken()
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrencyCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrencyName)
                        </td>
                        <td>
                            <a class="btn btn-success"
                                href="@Url.Action("Details", new { id = item.id })">
                                <i class="halflings-icon white zoom-in"></i>
                            </a>
                            <a class="btn btn-info"
                                href="@Url.Action("Edit", new { id = item.id })">
                                <i class="halflings-icon white edit"></i>
                                <a class="btn btn-danger"
                                href="#"
                                onclick="if (confirm('Are you sure want to Delete @item.CurrencyCode ?')) {
                                                $('form').submit();
                                            }
                                            else {
                                                    commentDelete(1); return false
                                            }">
                                    <i class="halflings-icon white trash"></i>
                                </a></td>
                    </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<style>
    th {
        background-color: #cdcdcd !important;
        border: dotted 1px;
    }
    td {
        border: dotted 1px;
    }
</style>