﻿@model IEnumerable<Gapura.BLL.Models.RequestDetailListVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped table-bordered bootstrap-datatable datatable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            <a class="btn btn-info"
                                href="@Url.Action("Edit", "RequestDetail", new { id = item.RequestDetailID })">
                <i class="halflings-icon white edit"></i>
            </a>
            <a class="btn btn-danger"
                                href="@Url.Action("Delete", "RequestDetail", new { id = item.RequestDetailID })">
                <i class="halflings-icon white trash"></i>
            </a>
        </td>
    </tr>
}
</table>