﻿@model Gapura.BLL.Models.ReleaseHeader

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReleaseHeader</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.ReleaseID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseID)
            @Html.ValidationMessageFor(model => model.ReleaseID)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.RequestID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestID)
            @Html.ValidationMessageFor(model => model.RequestID)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ReleaseNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseNo)
            @Html.ValidationMessageFor(model => model.ReleaseNo)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ReleaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.DepartemenID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DepartemenID)
            @Html.ValidationMessageFor(model => model.DepartemenID)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.TotalRequest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalRequest)
            @Html.ValidationMessageFor(model => model.TotalRequest)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.TotalRelease)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalRelease)
            @Html.ValidationMessageFor(model => model.TotalRelease)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ReleaseNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseNote)
            @Html.ValidationMessageFor(model => model.ReleaseNote)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
