﻿@model Gapura.BLL.Models.ReleaseDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ReleaseDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StockBegin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StockBegin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QtyRequest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QtyRequest)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QtyRelease)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QtyRelease)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StockFinal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StockFinal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
