﻿@model Gapura.BLL.Models.MasterAssetsType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MasterAssetsType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AssetsType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssetsType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AssetsNote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssetsNote)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
